body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #383838;
  padding-top: 80px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

p {
  text-align: justify;
  line-height: 25px;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-size: 6vw;
  white-space: nowrap;
}

@media screen and (max-width: 670px) {
  h1 {
    font-size: 12vw;
    white-space: normal;
  }
}

h2 {
  font-size: 25px;
  font-weight: 700;
  text-align: left;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 28px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 23px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
}

@media screen and (max-width: 500px) {
  h5 {
    font-size: 17px;
  }
}

h6 {
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}

hr {
  width: 20%;
}

footer {
  margin-top: 50px;
  background-color: #f8f8f8;
  height: 110px;
  text-align: center;
  vertical-align: middle;
}

.coloured-text {
  color: #2ac3ae;
  font-weight: 700;
}
