<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Group Personality Analysis Tool">
        <title>Group Personality Analysis Tool</title>
        <!-- Favicon -->
        <link rel="icon" href="static/images/MBTI-logo.png">
        <!-- Personal Stylesheet-->
        <link rel="stylesheet" href="static/css/styles.css">
        <!-- JQuery (note that Bootstrap depends on JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body>
        <section class="white-section" id="input">
            <div class="container">
                <!--Column 0-->
                <div class="col-md">
                    <h1>Group Personality Analysis Tool</h1>
                </div>
                <form action="/form-handler" method="POST">
                    <div>
                        Video URL: <input type="text" name="url" value="https://">
                        <br>
                    </div>
                    <input type="submit" value="Submit">
                </form>
                {% if processed_text %}
                
                
                <!--p id="text">{{ processed_text }}</p-->
                <script>
                    output = processed_text
                </script>
                {% endif %}
            
            
            </div>
        </section>
        <section class="darker-section" id="ouput">
            <!-- Output -->
            <h3>Output</h3>
            <div class="projects-container">
                <p id="text"></p>
                <div class="row justify-content-center"></div>
                {% if processed_text %}
                        <p id="text1">Extraversion:Introversion &emsp;-> {{ processed_text['E'] }}:{{ processed_text['I'] }} </p>
                <p id="text1">Intuitive:Sensing &emsp;&emsp;&emsp;&emsp;&emsp;-> {{ processed_text['N'] }}:{{ processed_text['S'] }} </p>
                <p id="text1">Feeling:Thinking &emsp;&emsp;&emsp;&emsp;&emsp;-> {{ processed_text['F'] }}:{{ processed_text['T'] }} </p>
                <p id="text1">Judging:Percieving &emsp;&emsp;&emsp;&emsp;-> {{ processed_text['J'] }}:{{ processed_text['P'] }} </p>
                {% else %}
                        <p id="text1">The output will appear here once you enter a valid YouTube link. </p>
                {% endif %}            
            
            
            </div>
        </section>
        <script>
            output = 'unfilled'
        </script>
        <section class="darker-section" id="about">
            <!-- About-->
            <h3>About This Project</h3>
            <div class="row">
                <div class="col-lg">
                    <p>
                        <br>
                        <br>
                        <b>Background &Goal</b>
                        <br>
                        The Internet is a vibrant landscape which hosts many subcultures, ideologies and schools of thought. 
                            I became interested in learning about whether or not these communities have "Group Personalities" 
                            because individuals self-select for communities based on personality type. One commonly used metric 
                            for measuring personality is the MBTI personality scale. Using four different NLP models - one for 
                            each of the four axis's of the MBTI scale - we can now use this free tool to analyze the top 100 
                            comments for any input YouTube video with visible comments. The top 100 comments are all classified 
                            by all four of these models and this data is aggregated to deliver a general breakdown of the 
                            "group personality" associated with a video. This is a tool that can be used to generate one point 
                            of data in measuring the "group personality" of any Internet Subculture with a presence on YouTube, 
                            more work is needed to generate a more detailed and data rich view of Internet Community.<br>
                        <br>
                        <b>How do I use this?</b>
                        <br>
                        1. The User provides a Youtube URL.<br>
                        2. The Server checks the validity of the link and returns an error code if necessary. <br>
                        3. The Server scrapes all comments associated with the YouTube video. <br>
                        4. The comments are analyzed using 4 different NLP AI models to guage their MBTI characteristics. <br>
                        5. The data is displayed to the user in the Output section.<br>
                        <br>
                        <b>Input &Output</b>
                        <br>
                        Input: YouTube video URL must be copied and pasted into the textbox in the Input section, then click Enter.<br>
                        Output: An MBTI breakdown along all four axis's generated by four of our NLP AI models.<br>
                        <b>MBTI Basics</b>
                        <br>
                        <img src="static/images/mbti-chart.png" alt="mbti-dimension">
                    </p>
                </div>
            </div>
        </section>
        <script src="static/js/index.js" charset="utf-8"></script>
    </body>
</html>
